---
import type { Language, CommonLabels } from '@/domain';
import { translate } from '@/domain';
import CourseCard from '@/presentation/components/common/cards/CourseCard.astro';
import Section from '@/presentation/components/common/Section.astro';

interface Props {
    lang: Language;
    commonLabels: CommonLabels;
}

const { lang, commonLabels } = Astro.props;

import { InMemoryCourseRepository, InMemoryCourseLabelsRepository } from '@/data';
import { GetAllCoursesUseCase, GetCourseLabelsUseCase } from '@/domain';

const courseLabels = await new GetCourseLabelsUseCase(new InMemoryCourseLabelsRepository()).execute();
const courses = await new GetAllCoursesUseCase(new InMemoryCourseRepository()).execute();

const visibleCourses = courses
    .sort((a, b) => new Date(b.completionDate).getTime() - new Date(a.completionDate).getTime())
    .slice(0, 3);
---
<Section id="courses" background="binary-rain" bottomFade topFade title={translate(courseLabels.title, lang)} subtitle={translate(courseLabels.subtitle, lang)}>
    
    <div class="flex flex-col gap-5 mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3
        gap-5 mt-8 mb-10 mx-15">
            {visibleCourses.map((course) => (
                <CourseCard course={course} lang={lang} courseLabels={courseLabels} />
            ))}
        </div>

        <div class="text-center">
            <a href={`/${lang}/courses`} class="hover:bg-secondary-v
            font-bold bg-primary-v rounded-md px-4 py-2 text-white" >
                {translate(commonLabels.viewMore, lang)}<span class="ml-2 transition-transform">→</span>
            </a>
        </div>
    </div>
</Section>
<style>
    .courses-grid { grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }
</style>
