---
import type { Language, WorkExperience, CommonLabels } from '@/domain';
import { translate } from '@/domain';
import { formatDateRange, linkify } from '@/core';
import Section from '../common/Section.astro';

interface Props {
    lang: Language;
    commonLabels: CommonLabels;
}

const { lang, commonLabels } = Astro.props;

import { InMemoryWorkLabelsRepository, InMemoryWorkExperienceRepository } from '@/data';
import { GetWorkLabelsUseCase, GetWorkExperiencesUseCase } from '@/domain';

const workLabels = await new GetWorkLabelsUseCase(new InMemoryWorkLabelsRepository()).execute();
const experiences  = await new GetWorkExperiencesUseCase(new InMemoryWorkExperienceRepository()).execute();
---

<Section id="work" background="binary-code" topFade bottomFade title={translate(workLabels.title, lang)} subtitle={translate(workLabels.subtitle, lang)}>
    
    <div class="relative px-5 md:px-10 lg:px-15">
        {experiences.map((experience) => 
            (
                <div class="relative mb-15">
                    <div class="bg-bg-surface-alt-v rounded-lg p-6 shadow-md relative overflow-hidden border-l-4 border-primary-dark-v hover:border-primary-v transform transition-transform duration-200 hover:translate-x-2 hover:-translate-y-1">
                        <div class="flex flex-col gap-4 mb-6 md:flex-row md:justify-between md:items-start">
                            <div>
                                <h3 class="text-2xl font-semibold text-primary-v">{translate(experience.position, lang)}</h3>
                                <p class="text-secondary-v text-xl font-semibold mt-3">
                                    <a href={experience.companyUrl} target="_blank" rel="noopener noreferrer"
                                    class="hover:underline hover:text-secondary-v transition-colors duration-200">
                                        {experience.company}
                                    </a>
                                </p>
                            </div>
                            <div class="flex flex-col gap-1 text-md text-bg-inverse-alt-v">
                                <span>
                                    {formatDateRange(experience.startDate, experience.endDate, lang, translate(commonLabels.current, lang))}
                                </span>
                                <span class="text-bg-inverse-v">{translate(experience.location, lang)}</span>
                            </div>
                        </div>

                        <p class="text-bg-inverse-alt-v leading-relaxed w-[60%]">{translate(experience.description, lang)}</p>

                        {experience.achievements.length > 0 && (
                            <div class="mb-5">
                                <h4 class="text-lg font-semibold text-secondary-v my-5">{translate(workLabels.achievements, lang)}</h4>
                                <ul class="p-0 mt-2 list-none">
                                    {experience.achievements.map((achievement: any) => (
                                        <li set:html={linkify(translate(achievement, lang))} class="relative pl-5 before:content-['•'] before:absolute 
                                        before:left-0 before:top-0 before:text-accent-v
                                        before:text-xl text-bg-inverse-alt-v mb-2"></li>
                                    ))}
                                </ul>
                            </div>
                        )}

                        <div class="flex justify-end">
                            <a href={`/${lang}/work/${experience.id}`} class="hover:bg-secondary-v
                            font-bold bg-primary-v rounded-md px-4 py-2 text-white" >
                                {translate(commonLabels.viewMore, lang)}<span class="ml-2 transition-transform">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            )
        )}
    </div>
</Section>
