---
import type { Skill } from '@/domain';
import SkillCard from './SkillCard.astro';

interface Props {
    skillIds: string[];
    skills: Skill[];
}

const { skillIds, skills } = Astro.props;
---
<div class="w-full mt-5">
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5">
        {skillIds.map((skillId) => (
            <SkillCard skillId={skillId} skills={skills} />
        ))}
    </div>
</div>
</div>
