@import "tailwindcss";

@plugin "@midudev/tailwind-animations";
@plugin "@tailwindcss/typography";


:root, :root * { box-sizing: border-box; }
html, body { overflow-x: hidden; }

:root {
    /* Color palette - Light mode */
    --color-primary: #3b82f6;
    --color-primary-dark: #2563eb;
    --color-secondary: #06b6d4;
    --color-accent: #f6af3b;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    
    /* Background palettes */
    --color-bg-surface: #e3e6ef;
    --color-bg-surface-alt: #ffffff;
    --color-bg-inverse: #000000;
    --color-bg-inverse-alt: #000000;
}

[data-theme="dark"] {
    /* Color palette - Dark mode */
    --color-primary: #60a5fa;
    --color-primary-dark: #3b82f6;
    --color-secondary: #22d3ee;
    --color-accent: #fab560;
    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-error: #f87171;
    
    /* Background palettes */
    --color-bg-surface: #081b38;
    --color-bg-surface-alt: #061020;
    --color-bg-inverse: #ffffff;
    --color-bg-inverse-alt: #ffffffff;
}

@theme {
    --color-primary-v: var(--color-primary);
    --color-primary-dark-v: var(--color-primary-dark);
    --color-secondary-v: var(--color-secondary);
    --color-accent-v: var(--color-accent);
    --color-success-v: var(--color-success);
    --color-warning-v: var(--color-warning);
    --color-error-v: var(--color-error);
    
     /* Background palettes */
    --color-bg-surface-v: var(--color-bg-surface);
    --color-bg-surface-alt-v: var(--color-bg-surface-alt);
    --color-bg-inverse-v: var(--color-bg-inverse);
    --color-bg-inverse-alt-v: var(--color-bg-inverse-alt);

    --breakpoint-xs: 480px;
}


.responsive-header-h { @apply h-6 xs:h-8 sm:h-10 md:h-12 }
.sr-only { @apply absolute w-1 h-1 p-0 -m-px overflow-hidden whitespace-nowrap border-0 }
.language-button { @apply inline-flex items-center gap-2 px-3 py-1.5 rounded-md bg-bg-surface-alt-v text-primary-v border-2 border-primary-v font-semibold }
.language-button:hover { @apply bg-primary-v text-white }
.language-button[data-active="true"] { @apply bg-primary-v text-white }
.lang-code[data-active="true"] { @apply text-white }
.lang-name[data-active="true"] { @apply text-white }
.language-dropdown { @apply min-w-48 max-h-72 overflow-y-auto }
.language-option { @apply flex items-center gap-3 px-4 py-3 bg-transparent border-0 cursor-pointer }
.language-option:hover { @apply bg-primary-v/10 }
.language-option[data-active="true"] {  @apply bg-primary-v text-white font-semibold }

/* Navs */

.nav-link {
    @apply text-bg-inverse-alt-v transition font-medium
    text-lg whitespace-nowrap overflow-hidden text-ellipsis
    hover:text-primary-v hover:underline;
}

/* Language selector */

.lang-code { @apply min-w-8 font-bold text-accent-v text-lg;}
.lang-name { @apply flex-1 text-bg-inverse-alt-v text-lg;}
