---
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<a
    href={href}
    onclick="(function(e){e.preventDefault(); const target = e.currentTarget.getAttribute('href'); if(window.history.length>1){ window.history.back(); } else if(target){ window.location.href = target; } }) (event)"
    class="inline-flex items-center gap-2 text-xl font-black text-white bg-primary-v py-1 px-5 hover:bg-secondary-v rounded-full transition-colors"
>{text}</a>
