---
interface Props {
    variant?: 'primary' | 'subtle';
    href?: string;
    target?: string;
    rel?: string;
}

const { variant = 'subtle', href, target, rel } = Astro.props;
---

<span class={`inline-flex items-center gap-2 text-md font-medium px-3 py-1 rounded-full ${variant === 'primary' ? 'bg-primary-v text-white' : 'bg-accent-v text-white'}`}>
    {href ? (
        <a href={href} target={target} rel={rel} class="no-underline hover:opacity-80 transition-opacity">
            <slot />
        </a>
    ) : (
        <slot />
    )}
</span>

