<div class="absolute inset-0 bg-bg-surface-v">
  <div class="absolute inset-0 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#1f2937_1px,transparent_1px)] bg-size-[20px_20px]" />
  <div class="absolute inset-0 bg-linear-to-br from-transparent via-blue-100/20 to-transparent dark:from-transparent dark:via-blue-900/10 dark:to-transparent" />
</div>